ENV=local
API_PORT=8080
FRONTEND_URL=http://localhost:3000

DB_WRITE_DSN=host=postgres user=empi password=empi dbname=empi port=5432 sslmode=disable TimeZone=America/Sao_Paulo
POSTGRES_DB=empi
POSTGRES_USER=empi
POSTGRES_PASSWORD=empi

JWT_ACCESS_SECRET=change-me-access-secret-with-at-least-32-characters
JWT_ACCESS_TTL_MINUTES=10080

ADMIN_NAME=Administrador EMPI
ADMIN_CPF=52998224725
ADMIN_PASSWORD=change-me-admin-password
ADMIN_EMAIL=admin@empi.local
ADMIN_PHONE=33987351922
ADMIN_MARKUP_PERCENT=10
ADMIN_MACHINE_FEE_PERCENT=0
ADMIN_INSTALLMENT_FEE_PERCENT=0

NUXT_API_BASE=http://api:8080
NUXT_PUBLIC_API_BASE_URL=/api
